@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #006400  inset;
  box-shadow: 0 0 0px 1000px #006400  inset;
  transition: background-color 5000s ease-in-out 0s;

  color: white;
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  
  color: black; /* White text color */
  -webkit-text-fill-color: black; /* White text color for WebKit browsers */
  -webkit-box-shadow: 0 0 0px 1000px #f5f5f5 transparent; /* Box shadow for WebKit browsers */
  box-shadow: 0 0 0px 1000px transparent inset; /* Box shadow */
  background-color: transparent; /* Transparent background */
  transition: background-color 5000s ease-in-out 0s; /* Transition */
  

  color: white;
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


.ReactFlagsSelect-module_flagsSelect__2pfa2.ReactFlagsSelect-module_selectBtn__19wW7{

  font-family: 'Overpass';
justify-content: flex-start;

  border-radius: 20px !important; 
  font-size: 2em;
}

.ReactFlagsSelect-module_selectBtn__19wW7{
  
  font-family: 'Overpass';
justify-content: flex-start;

  justify-content: flex-start;
border-radius: 8px !important;

font-size: 0.9;
}

.SetNumberofEmployeeFlag {    cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  font-family: inherit;
  color: #4d4d4d;
  border: thin solid rgba(77, 77, 77, 0.3);
  border-radius: 8px;
  background: transparent;
}
.ReactFlagsSelect-module_selectBtn__19wW7:focus {
  outline:none;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #20253F; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #20253F; 
  opacity: 0.4;
}




.react-tel-input .form-control{
  background-color: transparent !important;
  font-family: '__Inter_aaf875', '__Inter_Fallback_aaf870';
  border:none !important;
  width: 200px !important;
  height: 3rem; /* Assuming the base font size is 16px */
  background-color: transparent;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  color: #000;
  border-bottom-color: #e2e8f0; /* Adjust the color code based on your requirement */
  font-family: 'Overpass', sans-serif; /* Assuming 'Overpass' is a defined font */
 height: 52px !important;
  /* Define placeholder styles here */
  /* Define focus styles for border-bottom here */
  border-bottom: 2px solid gray !important;
  border-end-end-radius: 0px !important;
  border-radius: 0px !important;
  border-bottom-color: rgb(229 231 235 / 1) !important;

  outline: none;



}

.react-tel-input .flag-dropdown{
  background-color: transparent !important;
  border:none !important;
  font-weight: 600;
  border-bottom: 2px solid gray !important;
  border-end-end-radius: 0px !important;
  border-radius: 0px !important;
  border-bottom-color: rgb(229 231 235 / 1) !important;

}

.react-tel-input .flag-dropdown:hover{
  background-color: transparent !important;
  border:none !important;
 
}




.accordion {
  
  max-width: 400px;
}

.accordion-item {
  
  margin-bottom: 1px;

}

.accordion-toggle {
  
  display: block;
  width: 100%;

  text-align: left;
  cursor: pointer;
}

.accordion-content {
  
  padding: 10px;
  display: none;
}

/* Show the content when the button is clicked */
.accordion-toggle:focus + .accordion-content {
  display: block;
}